@media (max-width: 1366px) {
  .container {
    padding: 0 60px;
  }

  .hero__container {
    padding-bottom: 900px;
  }

  .hero__picture-wrapper {
    bottom: 50px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 0 41px;
  }

  .hero__container {
    padding-bottom: 850px;
  }

  .hero::before {
    height: 20%;
  }

  .opportunities {
    padding-top: var(--section-gap-top);
    padding-bottom: var(--section-gap-bottom);
  }
}

@media (max-width: 992px) {

  /* header */

  .header .nav__list {
    display: none;
  }

  /* hero */

  .hero__container {
    padding-bottom: 600px;
  }

  .hero__picture-wrapper {
    height: 630px;
  }

  /* opportunities */

  .opportunities__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 133px;
  }

  .picture__box-back {
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
  }

  .picture__box-front {
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
  }

  .opportunities__list {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0;
  }

  /* reviews */

  .reviews__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  /* footer */

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 75px;
  }
}

@media (max-width: 767px) {

  .section__descr {
    max-width: 426px;
  }

  /* header */

  .header {
    padding-top: 28px;
    padding-bottom: 27px;
  }

  .header__container {
    padding-left: 36px;
    padding-right: 16px;
  }

  /* hero */

  .hero {
    padding-top: 67px;
    padding-bottom: 102px;
    position: relative;
  }

  .hero::before {
    height: 31%;
    background: -o-linear-gradient(top, rgba(30, 30, 30, 0.00) 0%, #0E0E0E 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.00)), to(#0E0E0E));
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.00) 0%, #0E0E0E 100%);
  }

  .hero__container {
    padding-bottom: 518px;
  }

  .hero__wrapper {
    max-width: 100%;
  }

  .hero__title {
    margin-bottom: 27px;
    font-size: 52px;
    line-height: 62px;
  }

  .hero__descr {
    margin-bottom: 67px;
  }

  .hero__action-wrapper {
    gap: 21px;
  }

  /* opportunities */

  .opportunities__container {
    padding: 0 50px;
  }

  .opportunities__descr {
    margin-bottom: 28px;
  }

  .picture__box-front {
    top: 72%;
  }

  .opportunities__list {
    max-width: 280px;
  }

  .opportunities__item-descr {
    padding-left: 10px;
  }

  /* extentions */

  .extentions__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .extentions__card {
    max-width: 348px;
    padding: 50px 25.48px 40px 25.48px;
  }

  /* gallery */

  .gallery__list {
    display: none;
  }

  .gallery__list-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
  }

  /* partners */

  .partners__list {
    max-width: 290px;
    gap: 50px;
  }

  /* reviews */

  .reviews__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .reviews__item {
    max-width: 352px;
  }

  /* footer */

  .footer__container {
    padding: 0 165.5px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 550px) {

  .hero__picture-wrapper {
    height: 450px;
    bottom: 100px;
    background-image: url(../img/screenshots-549.png);
    background-size: cover;
  }
}

@media (max-width: 480px) {

  :root {
    --section-gap-top: 30px;
    --section-gap-bottom: 70px;
  }

  .container {
    padding: 0 20px;
  }

  .section__title {
    font-size: 40px;
  }

  .section__descr {
    width: auto;
  }

  /* header */

  .header__container {
    gap: 15px;
  }

  .header__logo {
    width: 100px;
    height: 28px;
  }

  .header__btn {
    padding: 10px 30px;
  }

  /* hero */

  .hero {
    padding-top: var(--section-gap-top);
    padding-bottom: var(--section-gap-bottom);
  }

  .hero__container {
    padding-bottom: 450px;
  }

  .hero__picture-wrapper {
    height: 400px;
    bottom: 90px;
    background-size: contain;
  }

  /* opportunities */

  .opportunities {
    padding-top: 0;
  }

  .opportunities__wrapper {
    gap: 60px;
  }

  .opportunities__picture {
    padding: 0;
  }

  .opportunities__img-chat {
    width: 280px;
    height: 275px;
  }

  /* reviews */

  .reviews__item {
    padding: 20px;
  }

  /* footer */

  .footer {
    padding: 50px 0;
  }

  .footer__container {
    padding: 0 65px;
  }
}