html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color:inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family:'Graphik';
    src: url('../fonts/graphik-regular.woff2');
    src: local('GraphikRegular'), local('Graphik-Regular'),
        url('../fonts/graphik-regular.woff2') format('woff2'),
        url('../fonts/graphik-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family:'Graphik';
    src: url('../fonts/graphik-medium.woff2');
    src: local('GraphikMedium'), local('Graphik-Medium'),
        url('../fonts/graphik-medium.woff2') format('woff2'),
        url('../fonts/graphik-medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family:'Graphik';
    src: url('../fonts/graphik-semibold.woff2');
    src: local('Graphiksemibold'), local('Graphik-semibold'),
        url('../fonts/graphik-semibold.woff2') format('woff2'),
        url('../fonts/graphik-semibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}


body {
    min-width: 320px;
    margin: 0;
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    background: var(--dark-background);
    color: var(--color-light);
}

:root {
    --section-gap-top: 50px;
    --section-gap-bottom: 150px;
    --dark-background: #181818;
    --color-light: #fff;
    --color-bright-blue: #4452FE;
    --color-dark-blue: #2b34a1;
    --color-dark-grey: #5C5C5C;
    --color-light-grey: #DEDEDE;
}

/*glob*/

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 241px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.section__title {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
}

.section__subtitle {
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.section__descr {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.2px;
}

.section {
    margin: 0;
    padding-top: var(--section-gap-top);
    padding-bottom: var(--section-gap-bottom);
}

.btn {
    box-sizing: border-box;
    font-family: inherit;
    padding: 12.5px 45px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 0.2px;
    background-color: transparent;
    border: 1px solid var(--color-light);
    color: var(--color-light);
    text-align: center;
    cursor: pointer;
}
  
/* header */

.header { 
    padding-top: 33px;
    padding-bottom: 34px;
}

.header__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: inline-block;
    height: max-content;
}
  
.logo__img {
    width: 142px;
    height: 40px;
}

.nav__list {
    align-items: center;
    gap: 51px;
}

.nav__link {
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    transition: color 0.3s ease-in-out;
}

.nav__link:focus {
    outline-offset: 5px;
    outline: 2px solid var(--color-bright-blue);
}

.nav__link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: var(--color-bright-blue);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
  
.nav__link:hover::after {
    opacity: 1;
}

.nav__link:active {
    color: var(--color-bright-blue);
    outline: none;
}
  
.nav__link:active::after {
    opacity: 1;
    background-color: var(--color-bright-blue);
}

.header__btn {
    transition: background-color 0.3s ease-in-out;
}

.header__btn:focus {
    background-color: var(--color-bright-blue);
}

.header__btn:hover {
    background-color: var(--color-bright-blue);
}
  
.header__btn:active{
    background-color: var(--color-dark-blue);
}
  

/* hero */

.hero {
    padding-top: 95px;
    padding-bottom: 100px;
    position: relative;
}

.hero::before {
    position: absolute;
    content: '';
    display: block;
    z-index: 10;
    top: 61%;
    width: 100%;
    height: 39%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
}

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 13.5px;
    gap: 35px;
}

.hero__wrapper {
    max-width: 50%;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    margin-bottom: 37px;
    font-size: 80px;
    line-height: 88px;
}

.hero__descr {
    margin-bottom: 95px;
}

.hero__action-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.hero__btn {
    padding: 19px 39px;
    transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
    background-color: var(--color-dark-blue);
}

.hero__btn:hover {
    background-color: var(--color-dark-blue);
}
  
.hero__btn:active{
    background-color: var(--color-light-grey);
}

.hero__link-try {
    border: none;
    background-color: var(--color-bright-blue);
    transition: background-color 0.3s ease-in-out;
}

.hero__link-try:focus {
    background-color: var(--color-dark-blue);
}

.hero__link-try:hover {
    background-color: var(--color-dark-blue);
}
  
.hero__link-try:active{
    background-color: var(--color-light-grey);
}


/* opportunities */

.opportunities {
    padding-top: 62px;
    padding-bottom: 267px;
}

.opportunities__title {
    margin-bottom: 27px;
}

.opportunities__descr {
    margin-bottom: 80.5px;
    max-width: 795px;
}

.opportunities__wrapper {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 27px;
}

.opportunities__picture {
    position: relative;
    width: 100%;
}

.picture__box {
    display: inline-block;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.picture__box-back {
    position: relative;
    top: 0;
    left: 28px;
    z-index: 1;
}

.picture__box-front {
    position: absolute;
    top: 483px;
    left: 352px;
    z-index: 10;
}

.opportunities__list {
    padding: 0 20px;
    align-self: end;
    width: 400px;
}

.opportunities__item:not(:last-child) {
    margin-bottom: 25px;
}

.opportunities__subtitle {
    position: relative;
    padding-left: 42px;
    /* padding-bottom: 10px; */
}

.opportunities__subtitle::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 3px;
    margin-right: 13px;
    background-repeat: no-repeat;
}

.opportunities__subtitle-tips::before {
    width: 26px;
    height: 24px;
    background-image: url(../img/opport-tips.svg);
}

.opportunities__subtitle-smart::before {
    width: 30px;
    height: 31px;
    background-image: url(../img/opport-smart.svg);
}

.opportunities__subtitle-synch {
    padding-left: 51px;
}

.opportunities__subtitle-synch::before {
    top: 5px;
    width: 43px;
    height: 20px;
    background-image: url(../img/opport-synch.svg);
}

.opportunities__item-descr {
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}

/* extentions */

.extentions__descr {
    margin-bottom: 54px;
    max-width: 552px;
}

.extentions__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px;
}

.extentions__card {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 48.5px 40px 48.5px;
    max-width: 476px;
    text-align: center;
    color: var(--dark-background);
    background-color: var(--color-light);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

.card__info {
    margin-bottom: 30px;
}

.card__descr {
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-dark-grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.card__descr-first {
    margin-bottom: 67px;
}

.card__btn {
    background-color: var(--color-bright-blue);
    transition: background-color 0.3s ease-in-out;
}

.card__btn:focus {
    background-color: var(--color-dark-blue);
}

.card__btn:hover {
    background-color: var(--color-dark-blue);
}
  
.card__btn:active{
    background-color: var(--color-light-grey);
}

/* gallery */

.gallery {
    text-align: center;
}

.gallery__descr {
    margin-bottom: 54px;
    max-width: 447px;
}

.gallery__list {
    margin-bottom: 44px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 44px;
    column-gap: 33px;
}

.gallery__list-mobile {
    display: none;
}

.gallery__item {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.gallery__btn {
    transition: background-color 0.3s ease-in-out;
}

.gallery__btn:focus {
    background-color: var(--color-dark-blue);
}

.gallery__btn:hover {
    background-color: var(--color-dark-blue);
}
  
.gallery__btn:active{
    background-color: var(--color-light-grey);
}

/* partners */

.partners__container {
    flex-direction: column;
    align-items: center;
}

.partners__descr {
    margin-bottom: 60px;
    max-width: 517px;
}

.partners__list {
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 74px;
}

.partners__btn {
    transition: background-color 0.3s ease-in-out;
}

.partners__btn:focus {
    background-color: var(--color-dark-blue);
}

.partners__btn:hover {
    background-color: var(--color-dark-blue);
}
  
.partners__btn:active{
    background-color: var(--color-light-grey);
}

/* reviews */

.reviews__title {
    margin-bottom: 60px;
}

.reviews__list {
    flex-wrap: wrap;
    justify-content: center;
    --gap-x: 23px;
    --offsets: 1;
    row-gap: 20px;
    column-gap: var(--gap-x);
}

.reviews__item {
    padding: 40px;
    width: calc((100% - (var(--gap-x) * var(--offsets))) / (var(--offsets) + 1));
    max-width: 430px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.2px;
    border-radius: 10px;
    border: 1px solid var(--color-light-grey);
}

.client__wpapper {
    column-gap: 23px;
    margin-bottom: 30px;
}

.client__name {
    margin: 0;
    font-weight: 500;
}

.client__position {
    font-weight: 500;
    letter-spacing: 0.1px;
}

/* footer */

.footer {
    padding: 107px 0px;
}

.footer__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 199px;
}

.nav__list {
    align-items: flex-start;
    gap: 75px;
}

.nav__header {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: 0.1px;
}

.nav__list-small {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.nav__item-small:not(:last-child){
    margin-bottom: 19px;
}

.nav__link-small {
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav__link-small:focus {
    outline-offset: 5px;
    outline: 2px solid var(--color-bright-blue);
}

.nav__link-small::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: var(--color-bright-blue);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
  
.nav__link-small:hover::after {
    opacity: 1;
}

.nav__link-small:active {
    color: var(--color-bright-blue);
    outline: none;
}
  
.nav__link-small:active::after {
    opacity: 1;
    background-color: var(--color-bright-blue);
}

.footer__contacts {
    flex-direction: column;
    font-style: normal;
}

.contacts__wrapper-address {
    position: relative;
    margin-bottom: 10px;
    padding: 11px 54px;
    padding-right: 0px;
}

.contacts__wrapper-address::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    background-image: url(../img/icon-map.svg);
}

.contacts__wrapper-tel {
    position: relative;
    margin-bottom: 10px;
    padding: 10px 45px;
    padding-right: 0px;
}

.contacts__wrapper-tel::before {
    position: absolute;
    content: '';
    top: 4.5px;
    left: 0;
    width: 35px;
    height: 35px;
    background-image: url(../img/icon-phone.svg);
}

.contacts__tel {
    transition: color 0.3s ease-in-out;
}

.contacts__tel:focus {
    color: var(--color-bright-blue);
}

.contacts__tel:hover {
    color: var(--color-bright-blue);
}

.contacts__tel:active {
    color: var(--color-dark-blue);
}

.contacts__list {
    gap: 24px;
}

.contacts__social {
    transition: outline 0.3s ease-in-out;
}

.contacts__social:focus {
    outline-offset: 5px;
    outline: 1px solid var(--color-light);
}
  
.contacts__social:active {
    outline: none;
}

.contacts__icon {
    fill: var(--color-light);
    transition: fill 0.3s ease-in-out;
}
  
.contacts__icon:hover {
    fill: var(--color-bright-blue);
}
  
.contacts__icon:active {
    outline: none;
    fill: var(--color-dark-blue);
}
  








