html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik-regular.woff2');
  src: local('GraphikRegular'), local('Graphik-Regular'),
    url('../fonts/graphik-regular.woff2') format('woff2'),
    url('../fonts/graphik-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik-medium.woff2');
  src: local('GraphikMedium'), local('Graphik-Medium'),
    url('../fonts/graphik-medium.woff2') format('woff2'),
    url('../fonts/graphik-medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: 'Graphik';
  src: url('../fonts/graphik-semibold.woff2');
  src: local('Graphiksemibold'), local('Graphik-semibold'),
    url('../fonts/graphik-semibold.woff2') format('woff2'),
    url('../fonts/graphik-semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}


body {
  min-width: 320px;
  margin: 0;
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  background: var(--dark-background);
  color: var(--color-light);
}

:root {
  --section-gap-top: 50px;
  --section-gap-bottom: 150px;
  --dark-background: #181818;
  --color-light: #fff;
  --color-bright-blue: #4452FE;
  --color-dark-blue: #0d1aab;
  --color-dark-grey: #5C5C5C;
  --color-light-grey: #dadada;
  --color-purple: #920d9c;
}

/*glob*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 241px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
}

.section__subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.section__descr {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.section {
  margin: 0;
  padding-top: var(--section-gap-top);
  padding-bottom: var(--section-gap-bottom);
}

.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  padding: 12.5px 45px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  text-align: center;
  cursor: pointer;
}

/* header */

.header {
  padding-top: 33px;
  padding-bottom: 34px;
}

.header__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  width: 142px;
  height: 40px;
}

.header__logo:focus {
  outline: 2px solid var(--color-bright-blue);
  outline-offset: 3px;
}

.logo__img {
  width: 142px;
  height: 40px;
}

.nav__list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 51px;
}

.nav__link {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-bright-blue);
}

.nav__link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: var(--color-bright-blue);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active {
  color: var(--color-bright-blue);
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
  background-color: var(--color-bright-blue);
}

.header__btn {
  -webkit-transition: background-color 0.3s ease-in-out, outline;
  -o-transition: background-color 0.3s ease-in-out, outline;
  transition: background-color 0.3s ease-in-out, outline;
}

.header__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.header__btn:hover {
  background-color: var(--color-dark-blue);
}

.header__btn:active {
  outline: none;
  background-color: var(--color-purple);
}

/* hero */

.hero {
  padding-top: 95px;
  padding-bottom: 100px;
  position: relative;
}

.hero::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 33%;
  z-index: 10;
  bottom: 100px;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), color-stop(66.15%, #0E0E0E));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 13.5px;
  padding-bottom: 993px;
  gap: 35px;
}

.hero__wrapper {
  max-width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__picture-wrapper {
  position: absolute;
  content: '';
  width: 100%;
  height: 841px;
  background-image: url(../img/screenshots.png);
  background-position: center;
  bottom: 152px;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 37px;
  font-size: 80px;
  line-height: 88px;
}

.hero__descr {
  margin-bottom: 95px;
}

.hero__action-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 35px;
}

.hero__btn {
  padding: 19px 39px;
  -webkit-transition: background-color 0.3s ease-in-out, outline;
  -o-transition: background-color 0.3s ease-in-out, outline;
  transition: background-color 0.3s ease-in-out, outline;
}

.hero__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.hero__btn:hover {
  background-color: var(--color-dark-blue);
}

.hero__btn:active {
  outline: none;
  background-color: var(--color-purple);
}

.hero__link-try {
  border: none;
  padding: 20px 40px;
  background-color: var(--color-bright-blue);
}

/* .hero__picture-wrapper {
    width: 100%;
    height: 841px;
    background-image: url(../img/screenshots.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

/* opportunities */

.opportunities {
  padding-top: 62px;
  padding-bottom: 267px;
}

.opportunities__title {
  margin-bottom: 27px;
}

.opportunities__descr {
  margin-bottom: 80.5px;
  max-width: 795px;
}

.opportunities__wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 27px;
}

.opportunities__picture {
  position: relative;
}

.picture__box {
  display: inline-block;
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.picture__box-back {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.picture__box-front {
  position: absolute;
  top: 483px;
  left: 352px;
  z-index: 10;
}

.opportunities__list {
  padding: 0 20px;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  width: 400px;
}

.opportunities__item:not(:last-child) {
  margin-bottom: 25px;
}

.opportunities__subtitle {
  position: relative;
  padding-left: 42px;
}

.opportunities__subtitle::before {
  position: absolute;
  content: '';
  top: 2px;
  left: 3px;
  margin-right: 13px;
  background-repeat: no-repeat;
}

.opportunities__subtitle-tips::before {
  width: 26px;
  height: 24px;
  background-image: url(../img/opport-tips.svg);
}

.opportunities__subtitle-smart::before {
  width: 30px;
  height: 31px;
  background-image: url(../img/opport-smart.svg);
}

.opportunities__subtitle-synch {
  padding-left: 51px;
}

.opportunities__subtitle-synch::before {
  top: 5px;
  width: 43px;
  height: 20px;
  background-image: url(../img/opport-synch.svg);
}

.opportunities__item-descr {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* extentions */

.extentions__descr {
  margin-bottom: 54px;
  max-width: 552px;
}

.extentions__wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 33px;
}

.extentions__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 48.5px 40px 48.5px;
  max-width: 476px;
  text-align: center;
  color: var(--dark-background);
  background-color: var(--color-light);
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}

.card__info {
  margin-bottom: 30px;
}

.card__descr {
  margin: 0;
  margin-bottom: 40px;
  color: var(--color-dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.card__descr-first {
  margin-bottom: 67px;
}

.card__btn {
  background-color: var(--color-bright-blue);
  -webkit-transition: background-color 0.3s ease-in-out, outline;
  -o-transition: background-color 0.3s ease-in-out, outline;
  transition: background-color 0.3s ease-in-out, outline;
}

.card__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.card__btn:hover {
  background-color: var(--color-dark-blue);
}

.card__btn:active {
  outline: none;
  background-color: var(--color-purple);
}

/* gallery */

.gallery {
  text-align: center;
}

.gallery__descr {
  margin-bottom: 54px;
  max-width: 447px;
}

.gallery__list {
  margin-bottom: 44px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 44px;
  -webkit-column-gap: 33px;
  -moz-column-gap: 33px;
  column-gap: 33px;
}

.gallery__list-mobile {
  display: none;
}

.gallery__item {
  overflow: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.gallery__btn {
  -webkit-transition: background-color 0.3s ease-in-out, outline;
  -o-transition: background-color 0.3s ease-in-out, outline;
  transition: background-color 0.3s ease-in-out, outline;
}

.gallery__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.gallery__btn:hover {
  background-color: var(--color-dark-blue);
}

.gallery__btn:active {
  outline: none;
  background-color: var(--color-purple);
}

/* partners */

.partners__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners__descr {
  margin-bottom: 60px;
  max-width: 517px;
}

.partners__list {
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 74px;
}

.partners__link {
  height: auto;
  -webkit-transition: outline, -webkit-transform .3s ease-in-out;
  transition: outline, -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out, outline;
  transition: transform .3s ease-in-out, outline;
  transition: transform .3s ease-in-out, outline, -webkit-transform .3s ease-in-out;
}

.partners__link:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.partners__link:hover {
  -webkit-transform: scale(.7);
  -ms-transform: scale(.7);
  transform: scale(.7);
}

.partners__link:active {
  outline: none;
}

.partners__picture {
  display: block;
  height: auto;
}

.partners__logo {
  display: block;
  height: auto;
}

.partners__btn {
  -webkit-transition: background-color 0.3s ease-in-out, outline;
  -o-transition: background-color 0.3s ease-in-out, outline;
  transition: background-color 0.3s ease-in-out, outline;
}

.partners__btn:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.partners__btn:hover {
  background-color: var(--color-dark-blue);
}

.partners__btn:active {
  outline: none;
  background-color: var(--color-purple);
}

/* reviews */

.reviews__title {
  margin-bottom: 60px;
}

.reviews__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 20px;
  -webkit-column-gap: 23px;
  -moz-column-gap: 23px;
  column-gap: 23px;
}

.reviews__item {
  padding: 40px;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  border-radius: 10px;
  border: 1px solid var(--color-light-grey);
}

.client__wpapper {
  -webkit-column-gap: 23px;
  -moz-column-gap: 23px;
  column-gap: 23px;
  margin-bottom: 30px;
}

.client__name {
  margin: 0;
  font-weight: 500;
}

.client__position {
  font-weight: 500;
  letter-spacing: 0.1px;
}

/* footer */

.footer {
  padding: 107px 0px;
}

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 199px;
}

.nav__list {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 75px;
}

.nav__header {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.nav__list-small {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.nav__item-small:not(:last-child) {
  margin-bottom: 19px;
}

.nav__link-small {
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link-small:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-bright-blue);
}

.nav__link-small::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: var(--color-bright-blue);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link-small:hover::after {
  opacity: 1;
}

.nav__link-small:active {
  color: var(--color-bright-blue);
  outline: none;
}

.nav__link-small:active::after {
  opacity: 1;
  background-color: var(--color-bright-blue);
}

.footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-style: normal;
}

.contacts__wrapper-address {
  margin-bottom: 10px;
  padding: 10px 0;
}

.contacts__wrapper-tel {
  margin-bottom: 30px;
  padding: 10px 0;
}

.contacts__link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, outline;
  -o-transition: color 0.3s ease-in-out, outline;
  transition: color 0.3s ease-in-out, outline;
}

.contacts__link-tel {
  gap: 10px;
}

.contacts__icon {
  fill: var(--color-light);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.contacts__link:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.contacts__link:hover {
  color: var(--color-bright-blue);
}

.contacts__link:hover .contacts__icon {
  fill: var(--color-bright-blue);
}

.contacts__link:active {
  color: var(--color-purple);
}

.contacts__link:active .contacts__icon {
  fill: var(--color-purple);
}

.contacts__list {
  gap: 24px;
}

.contacts__social {
  -webkit-transition: outline;
  -o-transition: outline;
  transition: outline;
}

.contacts__social:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-bright-blue);
}

.contacts__social:active {
  outline: none;
}

.contacts__icon:hover {
  fill: var(--color-bright-blue);
}

.contacts__icon:active {
  outline: none;
  fill: var(--color-purple);
}